<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title> Test Maker </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        
  </head>
<body>
    <button class="btn btn-primary" onclick="addButtonClick()"> + </button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th> H1 </th>
                <th> H2 </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 
                    message
                </td>
                <td>
                    message2
                </td>
            </tr> 
        </tbody>
    </table>
    <script>
        function addButtonClick(){
            alert('Click');
        }
    </script>
</body>
</html>