<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title> Test Maker </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/item_list.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/modal_window.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/create_ui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/item.js') }}"></script>
  </head>
<body>
  <h2> {{title}}</h2>
  <div id="custam-table">
    <table class="table table-striped">
      <thead id="custamized-table-header"></thead>
      <tbody id="custamized-table-body"></tbody>
    </table>
  </div>
  <div class="overlay" id="js-overlay"></div>
</body>
</html>